<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<h4 align="center" style="padding-top: 5px;">QCue Take Home Exercise by Katie Fairbanks</h4>

<div echarts [options]="options" class="demo-chart" [merge]="updateOptions" [loading]="isLoading"></div>

<div style="padding-left: 2%;">
  <h4>Create New Node:</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <label>New Node Name:</label>
      </div>
      <div class="col-sm-2">
        <input #nodeName type="text" class="form-control" placeholder="e.g. A, A1, A1B">
      </div>
      <div class="col-sm-1">
        <label (click)="addNode(nodeName.value); nodeName.value=''" class="btn-primary" ngbButtonLabel>Add Node</label>
      </div>
    </div>
  </div>
</div>

<div style="padding-left: 2%;">
  <h4>Create New Edge:</h4>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <label>Node 1 Name:</label>
      </div>
      <div class="col-sm-2">
        <input #node1 type="text" class="form-control" placeholder="e.g. A, A1, A1B">
      </div>
      <div class="col-sm-2">
        <label>Node 2 Name:</label>
      </div>
      <div class="col-sm-2">
        <input #node2 type="text" class="form-control" placeholder="e.g. A, A1, A1B">
      </div>
      <div class="col-sm-1">
        <label (click)="addEdge(node1.value, node2.value); node1.value=''; node2.value=''" class="btn-primary" ngbButtonLabel>Add Edge</label>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!validNodeName" align="center" style="padding: 5px;">
  <ngb-alert [dismissible]="false" [type]="'danger'">
    <strong>That node name is not valid.</strong>
    Please enter an alphanumeric string with no spaces.
  </ngb-alert>
</div>

<div *ngIf="sameName" align="center" style="padding: 5px;">
  <ngb-alert [dismissible]="false" [type]="'danger'">
    <strong>That node name is already in use.</strong>
  </ngb-alert>
</div>

<div *ngIf="sameEdge" align="center" style="padding: 5px;">
  <ngb-alert [dismissible]="false" [type]="'danger'">
    <strong>That edge already exists.</strong>
  </ngb-alert>
</div>

<div *ngIf="!edgesExist" align="center" style="padding: 5px;">
  <ngb-alert [dismissible]="false" [type]="'danger'">
    <strong>Edge(s) does not exist.</strong>
  </ngb-alert>
</div>

